/* 這個檔案沒有版權, 可以隨意修改. */
/* 很好的參考點: http://www.westciv.com/style_master/academy/css_tutorial/ */
/* 最簡單語法:  ELEMENT_SELECTOR.CLASS_SELECTOR { PROPERTY: VALUE; } */

/* body { font-family: "AR PL KaitiM Big5" } */

em, .em {
#    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
}

strong, .strong {
    font-weight: bold;
}

.large {
    font-size: 150%;
    font-weight: bold;
}

.vector { font-weight: bold; }

pre, code, .code {
    font-family: courier, monospace;
    overflow: auto;
}

pre {
    margin-left: 3ex;
    margin-right: 3ex;
}

code, .code { font-weight: bold; }

code em { text-decoration: none; }

table {
    border-collapse: collapse;
}

table.center-content th, table.center-content td { text-align: center; }
th {
    font-family: helvetica;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.kbd {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

code.lit { font-weight: bold; }
code.id { text-decoration: underline; }
ul.empty { list-style: none; }
h1 {
    font-size: 150%;
    text-align: center;
    counter-reset: sec;
}
h2 {
    font-size: 120%;
    text-align: center;
    text-decoration: underline;
}
/* see http://www.davidflanagan.com/blog/2005_08.html#000075 */
/* counter-increment has no effect if it is placed in :before */
h2.sec, h2.sec-en {
    counter-increment: sec; 
    counter-reset: subsec;
}
h3.sec, h3.sec-en {
    counter-increment: subsec; 
}
h2.sec:before { content: "第" counter(sec) "節 "; }
h2.sec-en:before { content: "Section " counter(sec) ": "; }
h3.sec:before { content: counter(sec) "." counter(subsec) " "; }
h3.sec-en:before  { content: counter(sec) "." counter(subsec) " "; }
p { margin: 1em; text-indent: 2em; }
p.publication { text-indent: 0; text-align: center; }
.center { text-indent: 0; text-align: center; }
.small { font-size: small; }
p.footer { font-size: small; }
p.noindent { text-indent: 0; }
ol.upper-latin { list-style-type: upper-latin; }

img.left { float: left; }
img.right { float: right; }
img.alone { clear: both; }

.layer1st { font-size: 140%; color: red; font-weight: 700; }
.layer2nd { font-size: 120%; color: red; }
.PopularPosts {
    margin-left: 10px;
}

@media screen {
    body {
	margin-left: 0%; margin-right: 0%;
	margin-top: 0%; margin-bottom: 0%;
    }
    div#content {
	position: absolute;
	top: 2em; bottom: 0;
	left: 120px; right: 0;
	line-height: 160%;
	font-size: 16pt;
    }
    div.post-body, div.entry-content {
	/* for google blogger */
	line-height: 160%;
	font-size: 16pt;
    }
    div#qrcode {
	float: right;
	margin-left: 5px;
    }
    div#toc {
	font-size: 8pt;
	line-height: 160%;
	left: 0; width: 120px; 
    }
    div#nav {
	font-size: 8pt;
	line-height: 160%;
	left: 0; width: 120px; 
    }
    div#toc a:hover {
	font-weight: bold;
	margin-left: -0.5em;
    }

/*
    .xstooltip {
     visibility: hidden;
     position: absolute; 
     z-index: 2; 
     top: 0; 
     left: 0; 
     background: cyan;
     font: normal 18pt sans-serif; 
     padding: 3px; 
     border: solid 1px;
    }
*/


}

@media print {
/* 試半天的結論: 在 body 內, 左右 padding 與 左右 margin
   都可以達到留邊的效果; 至於 @page 不論放在 @media 之內或之外,
   都完全沒有效果 (連 border 都沒有作用) */
/*
@page { size: 8.5in 11in; margin: 5cm; }
@page { size: auto; margin: 5cm; }
@page { border: 2pt solid red; }
*/
    body {
/*	border: 1pt solid black; */
/*	padding-left: 5cm; padding-right: 1cm; */
	margin-left: 0cm; margin-right: 0cm;
	font-size: 12pt;
	line-height: 140%;
    }
    .noprint { display: none; }
    div#toc { display: none; }
    div#content { right: 0em; position: static; }
    /* 如果沒有 "position: static;" 則只會印出第一頁 */
    dfn, code { margin-left: 0.1em; margin-right: 0.6em; color: black; }
    em { margin-left: 0.2em; margin-right: 0.3em; }
    a { text-decoration: none; margin-left: 0.6em; margin-right: 1.0em; }
}

@import url("light.css");

