/* light.css */
@media screen {
    body, slide { color: #000; background: #ffd; }
    .strong { background: #ff0; }
    :link { color: #1e4c43; }
    :visited { color: #1e354c; }
    em, .em { color: #4c0000; }
    .search_keyword { background: #e6ffff; font-weight:bold; }
    code, .code { color: #0f4c0f; }
    dfn { color: #4c0f4c; }

    blockquote.celebrity { background: #ffffb3; }
    .quote, blockquote { color: #4c1717; }
    pre.mail { color: #4c1717; }
    .hilight1 { background: #ffff99; }
    .hilight2 { background: #99ffff; }
    .hilight3 { background: #ff99ff; }
    .alert { background: #ff3333; }

    pre.docsrc { background: #b3ffff; }
    .kbd { color: #0f4c0f; background: #ffb3ff; }
    .tag { background: #ccffff; }

    .magic { background: #ffffff; }
    .gray_out { color: gray; }

    .toc { background: #fff0b3; }
    div#toc { background: #fff0b3; }
    div#nav, .nav, div#footer { background: #cab3ff; }
    div#nav a:hover { background: #ffffff; }
    div#nav a:hover .hovertext { color: #0f4c0f; }
    div#nav a:hover .hovertext em { background: #eb33ff; }

    /* http://flowplayer.org/tools/tooltip/index.html */
    .jq_tooltip { background: #ffff99; padding: 2px; width: 10em }
}
